$color-black: #1F1F1F;
$color-grey: #59606D;
$color-grey-light: #959DAD;
$color-grey-extra-light: #F8F8F8;
$color-white: #FFFFFF;
$color-star: #F2C94C;


$box-shadow-card: 0px 4px 16px rgba(0, 0, 0, 0.05);
$box-shadow-panel: -4px 0px 16px rgba(0, 0, 0, 0.05);

$border-radius-default: 8px;